<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Index</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Le styles -->
  <%= stylesheet_link_tag    "lumen", :media => "all" %>
  <%= stylesheet_link_tag    "style", :media => "all" %>
  <%= stylesheet_link_tag    "docs", :media => "all" %>
  <%= stylesheet_link_tag    "bootstrap-datetimepicker.min", :media => "all" %>


  <%= javascript_include_tag "vendor/bootstrap" %>

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
</head>

<body>
<section>
  <header class="navbar navbar-static-top " role="banner">
    <nav class="container">
      <div class="row">
        <div class="col-md-3">
          <figure>
            <img src="img/encabezado-sep2.png" class="img-responsive" alt="Escudos Gobierno"/>
          </figure>
        </div>
        <div class="col-md-6 center">
          <h1 class="text-center">Gestion De Figuras Educativas</h1>
        </div>
        <div class="col-md-3">
          <figure>
            <img src="img/encabezado-sep2.png" class="img-responsive" alt="Escudos Gobierno"/>
          </figure>
        </div>
      </div>
      <div class="navbar navbar-inverse" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">SISEFITOS</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#Nueva_FE">Figuras Educativas</a></li>
              <li><a href="#about">SED</a></li>
              <li><a href="#contact">Gestion Documental</a></li>
              <li><a href="#contact">Apoyos Economicos</a></li>
              <li><a href="#contact">Servicios CONAFE</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </header>
</section>

<section>
  <div class="container bs-docs-container">
    <h1>Titulo</h1>
    <div class="row" id="contenido">
      <section id="menuLateral">

      </section>

      <section class="conenido" id="panelContenido">

      </section>
    </div>
  </div> <!-- /container -->
</section>

<section>
  <footer class="bs-docs-footer" role="contentinfo">
    <div class="container">
      <p>Pagina para salvar el Ingenieria, vencer al gigante hombre mono y salvar la novena dimension</p>
    </div>
  </footer>
</section>




</body>
</html>
