<%= form_for(@alloc) do |f| %>
    <% if @alloc.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@alloc.errors.count, "error") %> prohibited this item from being saved:</h2>

          <ul>
            <% @alloc.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>


    <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2">
            <div class="form-group">
                <label for="estado_aic">Estado de la república:</label>
                <select name="estado_aic" id="estado_aic" class="form-control">
                    <% sta = State.order(:estado) %>
                    <% sta.each do |st| %>
                        <option value="<%=st.id%>"><%=st.estado%></option>
                    <% end %>
                </select>
            </div>


            <div class="form-group">
                <label for="municipio_aic">Municipio:</label>
                <select name="municipio_aic" id="municipio_aic" class="form-control">


                </select>

            </div>
            <div class="form-group">
                <label for="localidad_aic">Localidad:</label>
                <select name="localidad_aic" id="localidad_aic" class="form-control">


                </select>

            </div>
            <div class="form-group">
                <label for="actividades">Sede:</label>
                <select name="actividades" id="actividades" class="form-control">


                </select>

            </div>
            <div class="form-group">
              <label for="localidad_aic">Lengua:</label>
              <label id="lengua_actividad"></label>
            </div>
            <div class="form-group">
                <label for="localidad_aic">Nivel Educativo:</label>
                <label id="nivel_educativo"></label>
            </div>
            <div class="form-group">
              <label for="necesidades-aic">Necesidades del municipio por sede:</label>
              <label id="necesidades-aic"></label>

            </div>

            <div class="form-group">
              <table class="table table-hover">
                <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Apellido Paterno</th>
                  <th>Municipio</th>
                  <th>Estado</th>
                  <th>Opciones</th>
                </tr>
                </thead>
                <tbody id="personas_aic">

                </tbody>
              </table>

             </div>



        </div>
    </div>

<% end %>


<script type="text/javascript">


    $(document).ready(function() {
        $("#estado_aic").change(function () {
            var idEstado = $("#estado_aic option:selected").val();
            $('#municipio_aic').empty()
            $.getJSON("http://localhost:3000/api/consulta_municipios/" + idEstado, function (data) {


                var vals = [];
                $.each(data, function (i, item) {
                    vals = item;
                });
                $.each(vals, function (i, item) {
                    html = "<option value='" + item.id + "'>" + item.municipio + "</option>"
                    $('#municipio_aic').append(html)
                });


            })




        });

        $("#municipio_aic").change(function(){

            var idLocalidad = $("#municipio_aic option:selected").val();
            $('#localidad_aic').empty()
            $.getJSON("http://localhost:3000/api/consulta_localidades/"+ idLocalidad, function(data) {


                var vals = [];
                $.each(data, function(i, item) {
                    vals =item;
                });
                $.each(vals, function(i, item) {
                    html = "<option value='"+item.id+"'>"+ item.localidad +"</option>"
                    $('#localidad_aic').append(html)
                });
            })
        });

        $("#localidad_aic").change(function(){

            var idActividad = $("#localidad_aic option:selected").val();
            $('#actividades').empty()
            $.getJSON("http://localhost:3000/api/consulta_de_las_actividades/"+ idActividad, function(data) {

                $.each(data, function(i, item) {
                    html = "<option value='"+item.id+"'>"+ item.localidad +"</option>"
                    $('#actividades').append(html)
                    $('#lengua_actividad').text(item.nombre)
                    $('#necesidades-aic').text(item.necesidad)
                });
            })
        });

        $("#actividades").change(function(){
            var idActividad = $("#actividades option:selected").val();


            $.getJSON("http://localhost:3000/api/actividad_unica/"+ idActividad, function(data) {
                $.each(data, function(i, item) {
                    console.log(item)
                    $('#lengua_actividad').text(item.lengua)
                    $('#nivel_educativo').text(item.educacion)
                    $('#necesidades-aic').text(item.necesidad)

                    var data = JSON.stringify({
                        estado: $("#estado_aic").val(),
                        lengua:  item.lengua_id
                    });
                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: data,
                        contentType: 'application/json'
                    }).then(function (personas) {
                      console.log(personas)
                    })
                });
            })


        });




    });
</script>

